affine==2.3.1
attrs==22.1.0
aws-cdk.asset-awscli-v1==2.2.104
aws-cdk.asset-kubectl-v20==2.1.1
aws-cdk.asset-node-proxy-agent-v5==2.0.83
aws-cdk.aws-lambda-python-alpha==2.68.0a0
aws-cdk-lib==2.68.0
awscli==1.27.91
backports.zoneinfo==0.2.1
black==23.1.0
boto3==1.24.62
boto3-stubs==1.26.74
botocore==1.29.91
botocore-stubs==1.27.62
cattrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
constructs==10.1.276
cryptography==37.0.4
distlib==0.3.6
docopt==0.6.2
docutils==0.16
exceptiongroup==1.0.0rc9
filelock==3.9.0
fire==0.4.0
identify==2.5.18
idna==3.3
importlib-resources==5.12.0
iniconfig==1.1.1
Jinja2==3.1.2
jmespath==1.0.1
jsii==1.77.0
MarkupSafe==2.1.1
moto==3.1.18
mypy-boto3-s3==1.26.62
mypy-extensions==0.4.3
nodeenv==1.7.0
numpy==1.23.2
orjson==3.8.0
packaging==23.0
pathspec==0.10.1
pip==22.3.1
platformdirs==2.5.2
plpygis==0.2.0
pluggy==1.0.0
pre-commit==3.0.4
psycopg==3.1
psycopg-pool==3.1.1
publication==0.0.3
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.2
Pygments==2.14.0
pyparsing==3.0.9
pypgstac==0.6.6
pystac==1.4.0
pytest==7.1.2
python-cmr==0.7.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.2.1
PyYAML==5.4.1
rasterio==1.3.0
requests==2.28.1
responses==0.21.0
rio-stac==0.4.2
rsa==4.7.2
s3transfer==0.6.0
setuptools==65.6.3
Shapely==1.8.4
six==1.16.0
smart-open==4.2.0
snuggs==1.4.7
tenacity==8.0.1
termcolor==1.1.0
tomli==2.0.1
typeguard==2.13.3
types-s3transfer==0.6.0.post4
typing_extensions==4.3.0
urllib3==1.26.12
virtualenv==20.19.0
Werkzeug==2.1.2
wheel==0.38.4
xmltodict==0.13.0
zipp==3.15.0
