terraform {
  backend "s3" {
    region         = "${AWS_REGION}"
    bucket         = "${STATE_BUCKET_NAME}"
    key            = "${STATE_BUCKET_KEY}"
    dynamodb_table = "${STATE_DYNAMO_TABLE}"
  }
}

