aws_profile="${AWS_PROFILE}"
aws_region="${AWS_REGION}"
prefix="${PREFIX}"
vpc_id="${VPC_ID}"
subnet_tagname="${SUBNET_TAGNAME}"
iam_role_permissions_boundary="${IAM_ROLE_PERMISSIONS_BOUNDARY}"
stage="${STAGE:-dev}"
assume_role_arns=$ASSUME_ROLE_ARNS
cognito_app_secret="${COGNITO_APP_SECRET}"
stac_ingestor_api_url="${STAC_INGESTOR_API_URL}"

