name: CI/CD

on:
  push:

jobs:
  lint:
    name: Lint shell scripts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: ShellCheck
        uses: ludeeus/action-shellcheck@master

  format:
    name: Format code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable

  test_build-stac:
    name: Test lambdas/build-stac
    uses: ./.github/workflows/test_docker_lambda.yml
    with:
      path_to_lambda: lambdas/build-stac

  test_data-transfer:
    name: Test lambdas/data-transfer
    uses: ./.github/workflows/test_python_lambda.yml
    with:
      path_to_lambda: lambdas/data-transfer

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy to staging environment
    uses: ./.github/workflows/deploy.yml
    with:
      deploy_env: stage
      cognito_app_secret: veda-auth-stack-alukach/veda-workflows
      app_name: veda-data-pipelines

on:
  push:
    branches: [develop]

jobs:
  deploy:
    name: Deploy to dev environment
    uses: ./.github/workflows/deploy.yml
    with:
      deploy_env: dev
      cognito_app_secret: veda-auth-stack-alukach/veda-workflows
      app_name: veda-data-pipelines
